!.gitignore

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
#*.exe
*.out
#*.app
*.i*86
*.x86_64
*.hex
#*.bin

# Archivos random
*.tmp
*.temp
*.old
*.sav
*.bak
*.bk
.directory
.hidden

# Pruebas
**/tests/
**/tests/*
tests/
tests/*

# Cosa compilador
obj/
obj/*
core/
core/*
core
vgcore.*

# IDE/Editores
.idea/
.idea/*
.code/
.code/*
*.code
.vscode/
*.vscode
.vscode/*
*.kate-swp
*.save
*.swp
cmake-build-debug/
cmake-build-debug/*

# Binarios
#/crsh
#/helloworld
#/bash
#/good_night
/mlfq

# Otros
/CMakeLists.txt
*.zip
*.tar.gz
*.rar
